<%= form_for(@thing) do |f| %>
<% if @thing.errors.any? %>
<div class="panel">
  <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>
  <ul>
    <% @thing.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.label :name %>
<%= f.text_field :name, class: "text-input" %>

<div>
  <%= f.check_box :pinned %>
  <%= f.label :pinned, "Pinned" %>
</div>

<br>

<%= f.submit class: "btn" %>

<% end %>
