<%= link_to thing do %>
<div class="panel panel-body">
  <div class="pinned-large">
    <%= inline_svg("pin.svg") %>
  </div>
  <div>
    <h2><%= thing.name %></h2>
    <p class="m0 text-muted"><%= pluralize(thing.comments.count, "comment") %> <%= " | Pinned" if thing.pinned? %></p>
  </div>
</div>
<% end %>
