<%= link_to thing do %>
  <section class="panel panel-body">
    <%= inline_svg 'pin.svg', class: 'pinned-large' if thing.pinned? %>
    <article>
      <h2><%= thing.name %></h2>
      <p class="m0 text-muted">
        <%= pluralize thing.comments.count, 'comment' %>
        <%= '· Pinned' if thing.pinned? %>
      </p>
    </article>
  </section>
<% end %>
