<%= inline_svg 'pin.svg', class: 'pinned-large' if @thing.pinned? %>
<h1 class="m1-btm ib"><%= @thing.name %></h1>
<%= link_to 'Edit', edit_thing_path(@thing), class: 'btn btn-sm float-right' %>

<%= render_comments %>

<h2>Comment:</h2>
<%= render "comments/form" %>
