<!DOCTYPE html>
<html>
<head>
  <title>Stellar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Code+Pro:400,700">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/nav" %>
  <article class="col-7">
    <%= yield %>
  </article>
</body>
</html>
